<!-- Two Line List with secondary info and action -->
<style>
  .demo-list-two {
    width: 300px;
  }
</style>

<h1>Editar comentario</h1>

<form action="/comentario/update/<%= comentario.id %>" method="post" accept-charset="utf-8" class="form">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="input_text" class="mdl-textfield__label">Comentario</label>
    <input type="text" name="cuerpo" class="mdl-textfield__input" value="<%= comentario.cuerpo %>" required/>
  </div>
  <br>
  <!-- Accent-colored raised button with ripple -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
    Actualizar
  </button>
</form>
