<form action="/comentario/create" method="post" accept-charset="utf-8" class="form">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
    <label for="input_text" class="mdl-textfield__label">First name</label>
    <input type="text" name="cuerpo" class="mdl-textfield__input" id="input_text" required/>
  </div>
  <br>
  <!-- Accent-colored raised button with ripple -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" title="Registrar" type="submit">
    Guardar
  </button>
</form>
