<html lang="es" ng-app="Blog">
  <head>
    <title>
      Internal
      <%= __('Nombre') %>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/normalize.min.css">
    <!--STYLES END-->
  </head>

  <body ng-app="Blog">
    <!-- ***********************************************************************
                                          Body
    -->
    <div class="container">
      <%- body %>
    </div>
    <!-- Footer -->

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->

    <!--TEMPLATES END-->

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <script src="/js/jquery.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/comment-reply.min.js"></script>
    <script src="/js/controllers_angular/app.js"></script>
    <script src="/js/jquery-migrate.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/require.js"></script>
    <script src="/js/theme.min.js"></script>
    <script src="/js/vendor/jquery.min.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript">
      console.log("momentjs cargando " + moment());
    </script>

    <script type="text/javascript">
      jQuery(function($) {

        if ($(window).width() > 979) {
          // Show Customizer
          $('#bl_toggle_customizer').click(function() {
            $('.bl_customizer').toggleClass('active');
          });

          // Header Dropdown
          $('#bl_customizer_header select').change(function() {
            $('.header-background-image img').remove();
            $('#masthead').removeClass('header_big_logo');
            $('#masthead').removeClass('header_normal');
            $('#masthead').removeClass('header_bgimage');
            $('.top-banner').css('background', '');
            $('.bluth-navigation').css('background', '');
            $('#masthead .bluth-navigation .navbar .nav > li > a').css('color', '');

            switch ($('#bl_customizer_header select').find(':selected').attr('data-type')) {
              case 'normal':
                $('#masthead').removeClass('header_background_full_width');
                $('#masthead .masthead-group').removeClass('container');
                $('#masthead').addClass('container');
                $('#masthead').addClass('header_normal');
                break;
              case 'full_width':
                $('#masthead').removeClass('container');
                $('#masthead .masthead-group').removeClass('container');
                // $('#masthead').addClass('container');
                break;
              case 'full_width_background':
                $('#masthead').removeClass('header_normal');
                $('#masthead').removeClass('container');
                $('#masthead').addClass('header_background_full_width');
                $('#masthead .masthead-group').addClass('container');
                break;
              case 'no_image':
                $('#masthead .masthead-background').css('background-image', '');
                $('#masthead .nav > li > a, #masthead h1, #masthead h1 small').css('color', '');
                $('#masthead .nav > li > a span').css('border-color', '');

                break;
              case 'background_image':
                $('#masthead .masthead-background').css('background-image', 'url("http://www.bluthemes.com/themes/breeze/wp-content/uploads/2013/12/landscape.jpg")');
                $('#masthead .nav > li > a, #masthead h1, #masthead h1 small').css('color', '#FFFFFF');
                $('#masthead .nav > li > a span').css('border-color', '#FFFFFF rgba(0, 0, 0, 0)');
                break;
            }
            fixPadding();
          });
          $('#bl_customizer_header select').trigger('change');

          // Background Pattern Selector
          $('#bl_customizer_themes a').click(function(e) {
            switch ($(this).attr('data-name')) {
              case 'green':
                $('#masthead .top-banner').css('background', '#A0D468');
                $('#masthead .brand small').css('color', '#FFFFFF');
                $('.nav-line').css('background', '#8CC152');
                $('#side-bar .widget-head').css('background', '#A0D468').css('color', '#FFFFFF');
                break;
              case 'orange':
                $('#masthead .top-banner').css('background', 'orange');
                break;
            }
          });
          $('#bl_customizer_patterns .child > a').click(function(e) {
            e.preventDefault();

            $('.bl_background').remove();

            if ($('#background_pattern').length > 0) {
              $('#background_pattern').css('backgroundImage', 'url("http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/assets/img/pattern/large/' + $(this).attr('data-name') + '")');
            } else {
              $('body').prepend('<div style="background-image: url(http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/assets/img/pattern/large/' + $(this).attr('data-name') + ')" id="background_pattern"></div>');
            }

          });

          // Background Image Selector
          $('#bl_customizer_images .child > a').click(function(e) {
            e.preventDefault();

            $('#background_pattern').remove();

            if ($('.bl_background').length > 0) {
              $('.bl_background img').attr('src', 'http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/demo/img/' + $(this).attr('data-name'));
            } else {
              $('body').prepend('<div class="bl_background"><div id="stripe"></div><img src="http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/demo/img/' + $(this).attr('data-name') + '"></div>');
            }
          });

          // Font Selector
          $('#bl_customizer_heading_font select,#bl_customizer_text_font select').change(function() {

            var heading_font = $('#bl_customizer_heading_font select').find(':selected');
            var text_font = $('#bl_customizer_text_font select').find(':selected');

            $('#bluth-googlefonts-css').attr('href', 'http://fonts.googleapis.com/css?family=' + heading_font.attr('data-font') + '|' + text_font.attr('data-font'));

            $('#page').removeClass('h_crete h_roboto h_droid h_oswald h_arvo h_lato h_open h_arimo h_vollkorn').addClass(heading_font.attr('data-class') + ' ' + text_font.attr('data-class'));

          });

          // Sticky Footer
          $('#bl_customizer_sticky input').change(function() {
            if ($(this).is(":checked")) {
              $('.bluth-navigation').css('position', '');
            } else {
              $('.bluth-navigation').css('position', 'relative');
            }
          });
          // RTL
          /*	jQuery('#bl_customizer_rtl input').change(function(){
      			if(jQuery(this).is(":checked")){
      				jQuery('header').append('<link media="all" type="text/css" href="http://bluth.is/wordpress/breeze/wp-content/themes/breeze/assets/css/style-rtl.css" id="style-rtl-css" rel="stylesheet">')
      			}else{
      				jQuery('#style-rtl-css').remove();
      			}
      		});*/
        }

      });

      setTimeout(function() {
        jQuery('.bl_customizer').removeClass('active');
      }, 800);

      // change the color of the header if it's transparent
      function changeHeader() {
        jQuery('#masthead .bluth-navigation').stop();
        if (jQuery('#masthead').hasClass('header_bgimage')) {
          if (y > 30) {
            jQuery('#masthead .bluth-navigation .navbar .nav > li > a').animate({
              color: '#333333'
            }, 10);
            jQuery('#masthead .bluth-navigation').animate({
              backgroundColor: '#FFFFFF'
            }, 100);
          } else if (y < 500) {
            jQuery('#masthead .bluth-navigation .navbar .nav > li > a').animate({
              color: '#FFFFFF'
            }, 10);
            jQuery('#masthead .bluth-navigation').animate({
              backgroundColor: 'rgba(0,0,0,0.3)'
            }, 100);
          }
        }
      }
    </script>

    <script type='text/javascript'>
      /* <![CDATA[ */
      var blu = {
        "menuhover": "1",
        "disable_fixed_header": "",
        "locale": {
          "no_search_results": "No results match your search.",
          "searching": "Searching...",
          "search_results": "Search Results",
          "see_all": "see all",
          "loading": "Loading...",
          "no_more_posts": "No more posts",
          "subscribe": "Subscribe!",
          "see_more_articles": "See more articles",
          "no_email_provided": "No email provided",
          "thank_you_for_subscribing": "Thank you for subscribing!"
        }
      };
      /* ]]> */
    </script>
  </body>
</footer>
</html>
