<html lang="es" ng-app="Blog">
  <head>
    <title>
      <%= __('Nombre') %>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/style2.css">
    <!--STYLES END-->
  </head>

  <body ng-app="Blog">

    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-40601789-4', 'blog.com');
      ga('send', 'pageview');
    </script>

    <style type="text/css">
      img.wp-smiley,
      img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 0.07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
      }

    </style>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Link
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">Separated link</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">One more separated link</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Link</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">Separated link</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <br>
    <br>
    <!-- ***********************************************************************
                                          Body
    -->
    <div class="page page-id-194 page-template page-template-demo page-template-page-blog-twocolumn page-template-demopage-blog-twocolumn-php">
      <div style="background-image: url('/images/pw_pattern.png')" id="background_pattern"></div>
      <div id="page" class="site">
        <div id="masthead" class="masthead-container header_normal container header_background_color">
          <header role="banner" class="">
            <div class="masthead-background box clearfix" style=""></div>
            <!--<div class="masthead-group clearfix ">
              <!-- Brand and toggle get grouped for better mobile display --
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <i class="icon-menu-1"></i>
                </button>
                <a class="navbar-brand brand-image" href="/" title="Breeze" rel="home">
                  <img src="http://blu.fullstackehf.netdna-cdn.com/themes/breeze/wp-content/uploads/sites/4/2013/11/breeze-logo-small-transparent.png" alt="Breeze">
                  <h1></h1>
                </a>
              </div>
              <div class="blu_search pull-right hidden-sm hidden-xs">
                <form action="/entrada/search/" method="get" class="searchform" role="search">
                  <fieldset>
                    <a href="#">
                      <i class="icon-search-1"></i>
                    </a>
                    <input type="text" name="search" value="" placeholder="<%= __('Busqueda') %>"/>
                  </fieldset>
                </form>
              </div>
              <nav class="pull-right" role="navigation">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul id="menu-menu-1" class="nav navbar-nav">
                    <li id="menu-item-395" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-395 dropdown">
                      <a title="Posts" href="#">Posts
                        <span class="caret"></span>
                      </a>
                      <ul role="menu" class=" dropdown-menu">
                        <li role="presentation" class="title">
                          <a>Categorias</a>
                        </li>
                        <li id="menu-item-452" class="menu-item menu-item-type-taxonomy menu-item-object-post_tag menu-item-452">
                          <a title="Standard" href="/entrada/nuevo">Publicar</a>
                        </li>
                        <li id="menu-item-452" class="menu-item menu-item-type-taxonomy menu-item-object-post_tag menu-item-452">
                          <a title="Standard" href="http://www.bluthemes.com/themes/breeze/tag/standard-2/">Standard</a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-item-407" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-407 dropdown">
                      <a title="Demo" href="#">Demo
                        <span class="caret"></span>
                      </a>
                      <ul role="menu" class=" dropdown-menu">
                        <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
                          <a title="Featured Image" href="http://www.bluthemes.com/themes/breeze/featured-image/">Featured Image</a>
                        </li>
                        <li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408">
                          <a title="Shortcodes" href="http://www.bluthemes.com/themes/breeze/shortcodes/">Shortcodes</a>
                        </li>
                        <li role="presentation" class="title">
                          <a>PAGES</a>
                        </li>
                        <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-441">
                          <a title="About Us #1" href="http://www.bluthemes.com/themes/breeze/about-us-3/">About Us #1</a>
                        </li>
                        <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440">
                          <a title="About Us #2" href="http://www.bluthemes.com/themes/breeze/about-us-2-2/">About Us #2</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>-->
          </header>
        </div>

        <div id="main" class="container">
          <div id="primary" class="row right_side">

            <div id="content" class="twocolumn col-xs-12 col-sm-12 col-md-12 col-lg-12" role="main">
              <div class="columns">
                <div>
                  <%- body %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/ajquery/jquery.min.js"></script>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/comment-reply.min.js"></script>
    <script src="/js/controllers_angular/app.js"></script>
    <script src="/js/jquery-migrate.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/require.js"></script>
    <script src="/js/theme.min.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript">
      jQuery(function($) {

        if ($(window).width() > 979) {
          // Show Customizer
          $('#bl_toggle_customizer').click(function() {
            $('.bl_customizer').toggleClass('active');
          });

          // Header Dropdown
          $('#bl_customizer_header select').change(function() {
            $('.header-background-image img').remove();
            $('#masthead').removeClass('header_big_logo');
            $('#masthead').removeClass('header_normal');
            $('#masthead').removeClass('header_bgimage');
            $('.top-banner').css('background', '');
            $('.bluth-navigation').css('background', '');
            $('#masthead .bluth-navigation .navbar .nav > li > a').css('color', '');

            switch ($('#bl_customizer_header select').find(':selected').attr('data-type')) {
              case 'normal':
                $('#masthead').removeClass('header_background_full_width');
                $('#masthead .masthead-group').removeClass('container');
                $('#masthead').addClass('container');
                $('#masthead').addClass('header_normal');
                break;
              case 'full_width':
                $('#masthead').removeClass('container');
                $('#masthead .masthead-group').removeClass('container');
                // $('#masthead').addClass('container');
                break;
              case 'full_width_background':
                $('#masthead').removeClass('header_normal');
                $('#masthead').removeClass('container');
                $('#masthead').addClass('header_background_full_width');
                $('#masthead .masthead-group').addClass('container');
                break;
              case 'no_image':
                $('#masthead .masthead-background').css('background-image', '');
                $('#masthead .nav > li > a, #masthead h1, #masthead h1 small').css('color', '');
                $('#masthead .nav > li > a span').css('border-color', '');

                break;
              case 'background_image':
                $('#masthead .masthead-background').css('background-image', 'url("http://www.bluthemes.com/themes/breeze/wp-content/uploads/2013/12/landscape.jpg")');
                $('#masthead .nav > li > a, #masthead h1, #masthead h1 small').css('color', '#FFFFFF');
                $('#masthead .nav > li > a span').css('border-color', '#FFFFFF rgba(0, 0, 0, 0)');
                break;
            }
            fixPadding();
          });
          $('#bl_customizer_header select').trigger('change');

          // Background Pattern Selector
          $('#bl_customizer_themes a').click(function(e) {
            switch ($(this).attr('data-name')) {
              case 'green':
                $('#masthead .top-banner').css('background', '#A0D468');
                $('#masthead .brand small').css('color', '#FFFFFF');
                $('.nav-line').css('background', '#8CC152');
                $('#side-bar .widget-head').css('background', '#A0D468').css('color', '#FFFFFF');
                break;
              case 'orange':
                $('#masthead .top-banner').css('background', 'orange');
                break;
            }
          });
          $('#bl_customizer_patterns .child > a').click(function(e) {
            e.preventDefault();

            $('.bl_background').remove();

            if ($('#background_pattern').length > 0) {
              $('#background_pattern').css('backgroundImage', 'url("http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/assets/img/pattern/large/' + $(this).attr('data-name') + '")');
            } else {
              $('body').prepend('<div style="background-image: url(http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/assets/img/pattern/large/' + $(this).attr('data-name') + ')" id="background_pattern"></div>');
            }

          });

          // Background Image Selector
          $('#bl_customizer_images .child > a').click(function(e) {
            e.preventDefault();

            $('#background_pattern').remove();

            if ($('.bl_background').length > 0) {
              $('.bl_background img').attr('src', 'http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/demo/img/' + $(this).attr('data-name'));
            } else {
              $('body').prepend('<div class="bl_background"><div id="stripe"></div><img src="http://www.bluthemes.com/themes/breeze/wp-content/themes/breeze/demo/img/' + $(this).attr('data-name') + '"></div>');
            }
          });

          // Sticky Footer
          $('#bl_customizer_sticky input').change(function() {
            if ($(this).is(":checked")) {
              $('.bluth-navigation').css('position', '');
            } else {
              $('.bluth-navigation').css('position', 'relative');
            }
          });
        }

      });

      setTimeout(function() {
        jQuery('.bl_customizer').removeClass('active');
      }, 800);

      // change the color of the header if it's transparent
      function changeHeader() {
        jQuery('#masthead .bluth-navigation').stop();
        if (jQuery('#masthead').hasClass('header_bgimage')) {
          if (y > 30) {
            jQuery('#masthead .bluth-navigation .navbar .nav > li > a').animate({
              color: '#333333'
            }, 10);
            jQuery('#masthead .bluth-navigation').animate({
              backgroundColor: '#FFFFFF'
            }, 100);
          } else if (y < 500) {
            jQuery('#masthead .bluth-navigation .navbar .nav > li > a').animate({
              color: '#FFFFFF'
            }, 10);
            jQuery('#masthead .bluth-navigation').animate({
              backgroundColor: 'rgba(0,0,0,0.3)'
            }, 100);
          }
        }
      }
    </script>

    <script type='text/javascript'>
      /* <![CDATA[ */
      var blu = {
        "menuhover": "1",
        "disable_fixed_header": "",
        "locale": {
          "no_search_results": "No results match your search.",
          "searching": "Searching...",
          "search_results": "Search Results",
          "see_all": "see all",
          "loading": "Loading...",
          "no_more_posts": "No more posts",
          "subscribe": "Subscribe!",
          "see_more_articles": "See more articles",
          "no_email_provided": "No email provided",
          "thank_you_for_subscribing": "Thank you for subscribing!"
        }
      };
      /* ]]> */
    </script>
  </body>
</footer>
</html>
