<h2 class="mdl-card__title-text" id="acercade">
  <%= __('Acercade') %>
</h2>

<div class="mdl-card__media">
  <img class="article-image" src=" ../../images/about-header.jpg" border="0" alt="">
</div>

<h3>Reseña</h3>
<p>
  El semillero de Investigación de Programación fue creado por la ingeniera
  <strong>
    <a href="https://www.facebook.com/diana.m.espinosa.5">
      Diana María Espinosa
    </a>
  </strong>
  , en conjunto con estudiantes del programa de Ingeniería de Sistemas. El objetivo es el entrenamiento en estrategias de programación, con el propósito de aumentar el nivel en Algoritmia de los equipos que representan a la
  <strong>
    <a href="https://www.udla.edu.co">
      Universidad de la Amazonia
    </a>
  </strong>
  en las Maratones Regionales, Nacionales y Mundiales de Programación.

  Para mayor información consultar <a href="http://giecom.udla.edu.co/maraton/">Maratón</a>
</p>
