  <main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">

      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">
            <%= __('Acercade') %>
          </h2>
        </div>
        <div class="mdl-card__media">
          <img class="article-image" src=" ../../images/about-header.jpg" border="0" alt="">
        </div>

        <div class="mdl-grid portfolio-copy">
          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
          <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
              El semillero de Investigación de Programación fue creado por la ingeniera
              <strong>
                <a href="https://www.facebook.com/diana.m.espinosa.5">
                  Diana María Espinosa
                </a>
              </strong>
              , en conjunto con estudiantes del programa de Ingeniería de Sistemas. El objetivo es el entrenamiento en estrategias de programación, con el propósito de aumentar el nivel en Algoritmia de los equipos que representan a la
              <strong>
                <a href="https://www.udla.edu.co">
                  Universidad de la Amazonia
                </a>
              </strong>
              en las Maratones Regionales, Nacionales y Mundiales de Programación.
            </p>
          </div>
        </div>
      </div>

    </div>
  </main>
