<html lang="es">
  <head>
    <title><%= __('Nombre') %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/camera.css">
    <link rel="stylesheet" href="/styles/css.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <link rel="stylesheet" href="/styles/pgwslider.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>

    <!-- Header -->
    <header class="">
      <!-- Header Top Display In large and Tablet Device -->
      <div class="header-top hide-on-small-only">
        <div class="container">
          <div class="row">
            <div class="col l4 col m5 col s12">
              <a href="/" data-activates="slide-out" class="button-collapse show-on-large">
                <i class="mdi-navigation-menu"></i>
              </a>
              <!-- Dropdown -->
              <div class="header-dropdown">
                <!-- Dropdown Trigger
                <a class="dropdown-button btn" data-beloworigin="true" href="/" data-activates="dropdown">Today
                  <i class="mdi-navigation-arrow-drop-down"></i>
                </a>
                <ul id="dropdown" class="dropdown-content">
                  <li>
                    <a href="javascript:void(0);">Today</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Yesterday</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">1 Week</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">1 Month</a>
                  </li>
                </ul>-->
                <!-- Dropdown Structure -->
              </div>
            </div>
            <div class="col l4 col m3 col s12">
              <!-- Logo -->
              <div class="logo">
                <a href="/"><img src="/images/material-logo.png" alt="Logo"></a>
              </div>
            </div>
            <div class="col l4 col m4 col s12 pull-right">
              <!-- Search Button -->
              <form class="searchbox">
                <input type="text" placeholder="Type and Press Enter" name="search" class="searchbox-input" required="">
                <input type="submit" class="searchbox-submit">
                <span class="searchbox-icon">
                  <i class="mdi-action-search"></i>
                </span>
              </form>
              <!-- LogIn Link -->
              <a href="/usuario/signin" class="right login">Login</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Header top Display On Mobile -->
      <div class="header hide-on-med-and-up">
        <div class="top-header">
          <div class="container">
            <div class="row">
              <div class="col l4 col m5 col s2">
                <a href="/" data-activates="slide-out" class="button-collapse show-on-large">
                  <i class="mdi mdi-navigation-menu"></i>
                </a>
              </div>
              <div class="col l4 col m4 col s5">
                <!-- Dropdown -->
                <div class="header-dropdown">
                  <!-- Dropdown Trigger -->
                  <a class="dropdown-button btn" data-beloworigin="true" href="http://inceptionsystem.us/themes/Material-News/index3.html#" data-activates="dropdown-mobile">Today
                    <i class="mdi mdi-navigation-arrow-drop-down"></i>
                  </a>
                  <ul id="dropdown-mobile" class="dropdown-content">
                    <li>
                      <a href="javascript:void(0);">Today</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">Yesterday</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">1 Week</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">1 Month</a>
                    </li>
                  </ul>
                  <!-- Dropdown Structure -->

                </div>
              </div>
              <div class="col l4 col m4 col s3">
                <!-- LogIn Link -->
                <a href="/usuario/signin" class="login">Login</a>
              </div>
              <div class="col l4 col m4 col s2">
                <!-- Search Button -->
                <form class="searchbox">
                  <input type="text" placeholder="Type and Press Enter" name="search" class="searchbox-input" required="">
                  <input type="submit" class="searchbox-submit">
                  <span class="searchbox-icon">
                    <i class="mdi-action-search"></i>
                  </span>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--   <div class="bottom-header">
          <div class="container">
            <div class="row">
              <div class="col l4 col m4 col s12">
              Logo
                <div class="logo">
                  <a href="http://inceptionsystem.us/themes/Material-News/index.html"><img src="/images/material-logo.png" alt="Logo"></a>
                </div>

              </div>
            </div>
          </div>
        </div>
         -->
      </div>

      <!-- Navigation -->
      <nav role="navigation" class="hide-on-small-only">
        <div class="nav-wrapper menu-category">
          <ul>
            <li>
              <ul class="news-category-dropdown">
                <li>
                  <a href="javascript:void(0);">Entradas
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul>
                    <li>
                      <a href="/entrada">Ver todas</a>
                    </li>
                    <li>
                      <a href="/entrada/nuevo">Nueva</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <ul class="news-category-dropdown">
                <li>
                  <a href="javascript:void(0);">Contact
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul>
                    <li>
                      <a href="http://inceptionsystem.us/themes/Material-News/contact1.html">Contact Style 1</a>
                    </li>
                    <li>
                      <a href="http://inceptionsystem.us/themes/Material-News/contact2.html">Contact Style 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://inceptionsystem.us/themes/Material-News/about.html">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Sidebar Navigation -->
    <ul id="slide-out" class="side-nav full" style="width: 300px; left: -310px;">
      <li class="logo-title">
        <a href="javascript:void(0);">Blogla</a>
      </li>
      <!-- Dropdown Menu -->
      <li class="dropdown-menu">
        <ul class="collapsible" data-collapsible="expandable">
          <li class="active">
            <div class="collapsible-header waves-effect waves active">
              <i class="fa fa-file"></i>
              Publicaciones
              <i class="fa fa-angle-right"></i>
            </div>
            <div style="display: block;" class="collapsible-body">
              <ul>
                <li class="waves-effect">
                  <a href="/entrada">
                    <i class="fa fa-angle-right"></i>
                    Publicaciones</a>
                </li>
                <li class="waves-effect">
                  <a href="/">
                    <i class="fa fa-angle-right"></i>
                    Hoy</a>
                </li>
                <li class="waves-effect active">
                  <a href="/">
                    <i class="fa fa-angle-right"></i>
                    Pasados</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="">
            <div class="collapsible-header waves-effect waves">
              <i class="fa fa-file-text"></i>
              News Detail<i class="fa fa-angle-right"></i>
            </div>
            <div style="display: none;" class="collapsible-body">
              <ul>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/news-single1.html">
                    <i class="fa fa-angle-right"></i>
                    News Detail 1</a>
                </li>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/news-single2.html">
                    <i class="fa fa-angle-right"></i>
                    News Detail 2</a>
                </li>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/news-single3.html">
                    <i class="fa fa-angle-right"></i>
                    News Detail 3</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="">
            <div class="collapsible-header waves-effect waves">
              <i class="fa fa-file-text"></i>
              Category
              <i class="fa fa-angle-right"></i>
            </div>
            <div style="display: none;" class="collapsible-body">
              <ul>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/index-sport.html">
                    <i class="fa fa-angle-right"></i>
                    Sport
                  </a>
                </li>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/index-life.html">
                    <i class="fa fa-angle-right"></i>
                    Life
                  </a>
                </li>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/index-travel.html">
                    <i class="fa fa-angle-right"></i>
                    Travel
                  </a>
                </li>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/index-money.html">
                    <i class="fa fa-angle-right"></i>
                    Money
                  </a>
                </li>
                <li class="waves-effect">
                  <a href="http://inceptionsystem.us/themes/Material-News/index-tech.html">
                    <i class="fa fa-angle-right"></i>
                    Tech
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/shop.html">
          <i class="fa fa-tag"></i>Shop</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/catalog.html">
          <i class="fa fa-briefcase"></i>Catalog</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/product-detail.html">
          <i class="fa fa-plus-square"></i>product Detail</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/shopping-cart.html">
          <i class="fa fa-shopping-cart"></i>Shopping Cart</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/profile.html">
          <i class="fa fa-user"></i>Profile</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/brand1.html">
          <i class="fa fa-rocket"></i>Brand Style 1</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/brand2.html">
          <i class="fa fa-plane"></i>Brand Style 2</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/about.html">
          <i class="fa fa-users"></i>About</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/contact1.html">
          <i class="fa fa-phone"></i>Contact Style 1</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/contact2.html">
          <i class="fa fa-map-marker"></i>Contact Style 2</a>
      </li>
      <li class="waves-effect">
        <a href="http://inceptionsystem.us/themes/Material-News/login.html">
          <i class="fa fa-lock"></i>Login</a>
      </li>
    </ul>

    <!-- ***********************************************************************
                                          Body
    -->
    <%- body %>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l12 col m12 col s12">
            <!-- Footer Column 1 -->
            <ul>
              <li class="footer-title">News</li>
              <li>
                <a href="javascript:void(0);">Nation</a>
              </li>
              <li>
                <a href="javascript:void(0);">World</a>
              </li>
              <li>
                <a href="javascript:void(0);">Washington</a>
              </li>
            </ul>

            <!-- Footer Column 2 -->
            <ul>
              <li class="footer-title">Sport</li>
              <li>
                <a href="javascript:void(0);">NFL</a>
              </li>
              <li>
                <a href="javascript:void(0);">MLB</a>
              </li>
              <li>
                <a href="javascript:void(0);">NBA</a>
              </li>
              <li>
                <a href="javascript:void(0);">NHL</a>
              </li>
            </ul>

            <!-- Footer Column 3 -->
            <ul>
              <li class="footer-title">Life</li>
              <li>
                <a href="javascript:void(0);">People</a>
              </li>
              <li>
                <a href="javascript:void(0);">Movies</a>
              </li>
              <li>
                <a href="javascript:void(0);">Music</a>
              </li>
            </ul>

            <!-- Footer Column 4 -->
            <ul>
              <li class="footer-title">Money</li>
              <li>
                <a href="javascript:void(0);">Market</a>
              </li>
              <li>
                <a href="javascript:void(0);">Business</a>
              </li>
            </ul>

            <!-- Footer Column 5 -->
            <ul>
              <li class="footer-title">Tech</li>
              <li>
                <a href="javascript:void(0);">Personal Tech</a>
              </li>
              <li>
                <a href="javascript:void(0);">Gaming</a>
              </li>
            </ul>

            <!-- Footer Column 6 -->
            <ul>
              <li class="footer-title">Travel</li>
              <li>
                <a href="javascript:void(0);">Travel Advice</a>
              </li>
              <li>
                <a href="javascript:void(0);">Experience Travel</a>
              </li>
              <li>
                <a href="javascript:void(0);">Destinations</a>
              </li>
              <li>
                <a href="javascript:void(0);">Flights</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <!-- Copyright Text -->
            <div class="col l4 col m12 col s12">
              © Copyright 2015 Material News by ThemeLeague
            </div>
            <div class="col l4 col m12 col s12">
              <!-- Footer Menu -->
              <div class="footer-menu">
                <ul>
                  <li>
                    <a href="javascript:void(0);">Privacy</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Advertisement</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <script src="/js/style/jquery-min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/amplify-1.1.2/amplify.min.js"></script>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/controllers_angular/app.js"></script>
    <script src="/js/hammer-time.min.js"></script>
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/js/style/camera.js"></script>
    <script src="/js/style/init.js"></script>
    <script src="/js/style/jquery-min.js"></script>
    <script src="/js/style/jquery.liquid-slider.js"></script>
    <script src="/js/style/jquery.touchSwipe.min.js"></script>
    <script src="/js/style/materialize.js"></script>
    <script src="/js/style/pgwslider.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript">
      console.log("momentjs cargando " + moment());
    </script>
  </body>
</footer>
</html>
