<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Categoria</th>
      <th>Descripción</th>
      <th>Creado</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ce in categoriasentradas">
      <th>
        {{($index+1)}}
      </th>
      <td>
        {{ce.nombre_categoria}}
      </td>
      <td>
        {{ce.descripcion}}
      </td>
      <td>
        {{moment(ce.createdAt).format('LLL')}}
      </td>
      <td>
        <a href="/categoriaentrada/{{ce.id}}" target="_blank">
          Ver
        </a>
      </td>
    </tr>
  </tbody>
</table>
