<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">#</th>
      <th>Categoria</th>
      <th>Creado</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ce in categoriasentradas">
      <th class="mdl-data-table__cell--non-numeric">
        {{($index+1)}}
      </th>
      <td>
        {{ce.nombre_categoria}}
      </td>
      <td>
        {{moment(ce.createdAt).format('LLS')}}
      </td>
      <td>
        <a href="/categoriaentrada/{{ce.id}}" target="_blank">
          Ver
        </a>
      </td>
    </tr>
  </tbody>
</table>
