<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <script src="js/respond.min.js"></script> <![endif]-->
<script type="text/javascript">
  try {
    window.AG_onLoad = function(func) {
      if (window.addEventListener) {
        window.addEventListener('DOMContentLoaded', func);
      }
    };
    window.AG_removeElementById = function(id) {
      var element = document.getElementById(id);
      if (element && element.parentNode) {
        element.parentNode.removeChild(element);
      }
    };
    window.AG_removeElementBySelector = function(selector) {
      if (!document.querySelectorAll) {
        return;
      }
      var nodes = document.querySelectorAll(selector);
      if (nodes) {
        for (var i = 0; i < nodes.length; i++) {
          if (nodes[i] && nodes[i].parentNode) {
            nodes[i].parentNode.removeChild(nodes[i]);
          }
        }
      }
    };
    window.AG_each = function(selector, fn) {
      if (!document.querySelectorAll)
        return;
      var elements = document.querySelectorAll(selector);
      for (var i = 0; i < elements.length; i++) {
        fn(elements[i]);
      };
    };
    var AG_removeParent = function(el, fn) {
      while (el && el.parentNode) {
        if (fn(el)) {
          el.parentNode.removeChild(el);
          return;
        }
        el = el.parentNode;
      }
    };
    var _gaq = [];
    var _gat = {
      _getTracker: function() {
        return {_initData: function() {}, _trackPageview: function() {}, _trackEvent: function() {}, _setAllowLinker: function() {}, _setCustomVar: function() {}}
      },
      _createTracker: function() {
        return this._getTracker();
      },
      _anonymizeIp: function() {}
    };
    function urchinTracker() {};
    var nol_t = function() {
      return {
        record: function() {
          return {post: function() {}}
        }
      }
    };
    var addthis = {
      init: function() {},
      addEventListener: function() {},
      button: function() {},
      counter: function() {},
      update: function() {},
      toolbox: function() {}
    };
  } catch (ex) {
    console.error('Error executing AG js: ' + ex);
  }
</script>
<div>
  <!-- Main Wrapper -->
  <div class="wrapper">
    <div class="container">
      <div class="row margin-bottom-0">
        <div class="col l9 m12">
          <div class="row">
            <div class="col l8 col m12 col s12">
              <!-- News Blog Box -->
              <div class="news-blog z-depth-1">
                <!-- News Blog Image -->
                <div class="image">
                  <img alt="news Image" src="./images/big-news2.jpg" class="responsive-img">
                </div>
                <!-- News Blog Category -->
                <div class="news-category">
                  <span class="green">Money</span>
                  <!-- Dropdown -->
                  <div class="news-dropdown">
                    <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1">
                      <i class="fa fa-ellipsis-v "></i>
                    </a>
                    <ul id="dropdown1" class="dropdown-content">
                      <li>
                        <a href="javascript:void(0);">Option 1</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Option 1</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Option 1</a>
                      </li>
                    </ul>

                  </div>
                </div>
                <!-- News Blog Description -->
                <div class="news-description">
                  <div class="news-time">
                    21 min ago
                  </div>
                  <div class="news-title">
                    <a href="javascript:void(0)">Party Sweepsto Israel
                      <br>
                      election Victory</a>
                  </div>
                  <div class="news-content">
                    <p>et bibendum leo metus vel magna. In dapibus
                      <br>
                      ac tellus non rutrum. Integer.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col l4 col m12 col s12">
              <!-- vertical News Box -->
              <div class="news vertical z-depth-1">
                <!-- vertical News Image -->
                <div class="news-image">
                  <img class="responsive-img" src="./images/small-news2.jpg" alt="news Image">
                </div>
                <!-- vertical News Description -->
                <div class="news-description">
                  <div class="news-time">
                    <i class="fa fa-clock-o"></i>
                    9 min ago
                  </div>
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.
                    </a>
                  </div>
                  <div class="news-content">
                    <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus In dapibus ac tellus non rutrum et bibendum leo metus vel magna. In dapibus ac tellus</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l8 col m12 col s12">
              <div class="z-depth-1">
                <!-- horizontal News Box -->
                <div class="news horizontal">
                  <div class="col l4 col m4 col s12 no-padding">
                    <!-- horizontal News Image -->
                    <div class="news-image">
                      <img alt="news Image" class="responsive-img" src="./images/hor-news4.jpg">
                    </div>
                  </div>
                  <div class="col l8 col m8 col s12 no-padding">
                    <!-- horizontal News  Description -->
                    <div class="news-description">
                      <div class="news-time">
                        <i class="fa fa-clock-o"></i>
                        9 min ago
                      </div>
                      <div class="news-title">
                        <a href="javascript:void(0)">
                          Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.
                        </a>
                      </div>
                      <div class="news-content">
                        <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- horizontal News Box -->
                <div class="news horizontal no-border">
                  <div class="col l4 col m4 col s12 no-padding">
                    <!-- horizontal News Image -->
                    <div class="news-image">
                      <img alt="news Image" class="responsive-img" src="./images/hor-news6.jpg">
                    </div>
                  </div>
                  <div class="col l8 col m8 col s12 no-padding">
                    <!-- horizontal News Description -->
                    <div class="news-description">
                      <div class="news-time">
                        <i class="fa fa-clock-o"></i>
                        9 min ago
                      </div>
                      <div class="news-title">
                        <a href="javascript:void(0)">
                          Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.</a>
                      </div>
                      <div class="news-content">
                        <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col l4 col m12 col s12">
              <!-- vertical News Box -->
              <div class="news vertical z-depth-1">
                <!-- vertical News Image -->
                <div class="news-image">
                  <img alt="news Image" class="responsive-img" src="./images/profile5.jpg">
                </div>
                <!-- vertical News Description -->
                <div class="news-description">
                  <div class="news-time">
                    <i class="fa fa-clock-o"></i>
                    9 min ago
                  </div>
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      Nam erat nulla, auctor a eros vitae, hendrerit efficitur.
                    </a>
                  </div>
                  <div class="news-content">
                    <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col l3 m12 s12 no-padding">
          <!-- Average Box -->
          <div class="average">
            <div class="col l6 m3 s6">
              <div class="average-box">
                <div class="top">
                  <div class="average-symbol">
                    <i class="fa fa-usd"></i>
                  </div>
                  <div class="average-name">Usd</div>
                </div>
                <div class="bottom">
                  <div class="average-value">26.00
                    <i class="fa fa-caret-down"></i>
                  </div>
                  <div class="average-point">-1.03</div>
                </div>
              </div>
            </div>
            <div class="col l6 m3 s6">
              <div class="average-box">
                <div class="top">
                  <div class="average-symbol">
                    <i class="fa fa-eur"></i>
                  </div>
                  <div class="average-name">Eur</div>
                </div>
                <div class="bottom">
                  <div class="average-value">28.88
                    <i class="fa fa-caret-down"></i>
                  </div>
                  <div class="average-point">-1.43</div>
                </div>
              </div>
            </div>
            <div class="col l6 m3 s6">
              <div class="average-box third">
                <div class="top">
                  <div class="average-symbol grey darken-3">
                    <i class="fa fa-tint  grey darken-3"></i>
                  </div>
                  <div class="average-name">oil</div>
                </div>
                <div class="bottom">
                  <div class="average-value">46.75<i class="fa fa-caret-up"></i>
                  </div>
                  <div class="average-point">+1.25</div>
                </div>
              </div>
            </div>
            <div class="col l6 m3 s6">
              <div class="average-box fourth">
                <div class="top">
                  <div class="average-symbol">
                    <i class="fa fa-usd"></i>
                  </div>
                  <div class="average-name">Rain</div>
                </div>
                <div class="bottom">
                  <div class="average-value">+12
                  </div>
                  <div class="average-point">New york</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col l12 col m12 col s12">
            <!-- Sidebar -->
            <div class="sidbar-box z-depth-1">
              <div class="sidebar-title">Top Stories</div>
              <ul>
                <li>
                  <a href="javascript:void(0)">
                    5 Things you Need To Know Wenesday</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Auti-austeriry Protest Turns Violent In Germany</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Flying Cars: The near Future, From SXSW</a>
                </li>
                <li>
                  <a href="javascript:void(0)">No end in Signt for California Drought</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Boehner Coup by Conservatives.</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Market Reaction to fed rate talk: 3 scenarious</a>
                </li>
                <li>
                  <a href="javascript:void(0)">fed deny visas for 'Specialized' foreign workers</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Flying Cars: The near Future.</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col l12 m12 s12">
          <div class="title">Sport</div>
        </div>
        <div class="col l6 col m12 col s12">
          <!-- News Blog Box -->
          <div class="news-blog z-depth-1">
            <!-- News Blog Image -->
            <div class="image">
              <img alt="news Image" src="./images/big-news5.jpg" class="responsive-img">
            </div>
            <!-- News Blog Category -->
            <div class="news-category">
              <span class="green">Money</span>
              <!-- Dropdown -->
              <div class="news-dropdown">
                <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown2">
                  <i class="fa fa-ellipsis-v "></i>
                </a>
                <ul id="dropdown2" class="dropdown-content">
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                </ul>

              </div>
            </div>
            <!-- News Blog Description -->
            <div class="news-description">
              <div class="news-time">
                21 min ago
              </div>
              <div class="news-title">
                <a href="javascript:void(0)">Party Sweepsto Israel
                  <br>
                  election Victory</a>
              </div>
              <div class="news-content">
                <p>et bibendum leo metus vel magna. In dapibus
                  <br>
                  ac tellus non rutrum. Integer.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 col m12 col s12">
          <!-- vertical News Box -->
          <div class="news vertical z-depth-1">
            <!-- vertical News Image -->
            <div class="news-image">
              <img class="responsive-img" src="./images/travel4.jpg" alt="news Image">
            </div>
            <!--  vertical News Description -->
            <div class="news-description">
              <div class="news-time">
                <i class="fa fa-clock-o"></i>
                9 min ago
              </div>
              <div class="news-title">
                <a href="javascript:void(0)">
                  Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna.
                </a>
              </div>
              <div class="news-content">
                <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. et bibendum leo metus vel magna.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 col m12 col s12">
          <!-- vertical News Box -->
          <div class="news vertical z-depth-1">
            <!-- vertical News Image -->
            <div class="news-image">
              <img class="responsive-img" src="./images/profile2.jpg" alt="news Image">
            </div>
            <!-- vertical News Description -->
            <div class="news-description">
              <div class="news-time">
                <i class="fa fa-clock-o"></i>
                9 min ago
              </div>
              <div class="news-title">
                <a href="javascript:void(0)">
                  Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.
                </a>
              </div>
              <div class="news-content">
                <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus In dapibus ac tellus non rutrum et bibendum leo metus vel magna ac tellus non rutrum Integer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col l3 col m12 col s12">
          <!-- vertical News Box -->
          <div class="news vertical z-depth-1">
            <!-- vertical News Image -->
            <div class="news-image">
              <img class="responsive-img" src="./images/travel14.jpg" alt="news Image">
            </div>
            <!--  vertical News Description -->
            <div class="news-description">
              <div class="news-time">
                <i class="fa fa-clock-o"></i>
                9 min ago
              </div>
              <div class="news-title">
                <a href="javascript:void(0)">
                  Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna.
                </a>
              </div>
              <div class="news-content">
                <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. et bibendum leo metus vel magna .</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 col m12 col s12">
          <!-- vertical News Box -->
          <div class="news vertical z-depth-1">
            <!-- vertical News Image -->
            <div class="news-image">
              <img class="responsive-img" src="./images/money1.jpg" alt="news Image">
            </div>
            <!-- vertical News Description -->
            <div class="news-description">
              <div class="news-time">
                <i class="fa fa-clock-o"></i>
                9 min ago
              </div>
              <div class="news-title">
                <a href="javascript:void(0)">
                  Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.
                </a>
              </div>
              <div class="news-content">
                <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus In dapibus ac tellus non rutrum et bibendum leo metus vel magna ac tellus non rutrum Integer.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col l6 col m12 col s12">
          <!-- News Blog Box -->
          <div class="news-blog z-depth-1">
            <!-- News Blog Image -->
            <div class="image">
              <img class="responsive-img" src="./images/big-news8.jpg" alt="news Image">
            </div>
            <!-- News Blog Category -->
            <div class="news-category">
              <span class="green">Money</span>
              <!-- Dropdown -->
              <div class="news-dropdown">
                <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown3">
                  <i class="fa fa-ellipsis-v "></i>
                </a>
                <ul id="dropdown3" class="dropdown-content">
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                </ul>

              </div>
            </div>
            <!-- News Blog Description -->
            <div class="news-description">
              <div class="news-time">
                21 min ago
              </div>
              <div class="news-title">
                <a href="http://inceptionsystem.us/themes/Material-News/index3.html#">Party Sweepsto Israel
                  <br>
                  election Victory</a>
              </div>
              <div class="news-content">
                <p>et bibendum leo metus vel magna. In dapibus
                  <br>
                  ac tellus non rutrum. Integer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col l6 col m12 col s12">
          <!-- News Blog Solid Box -->
          <div class="news-blog solid z-depth-1">
            <!-- News Blog Category -->
            <div class="news-category">
              <span class="pink">More</span>
              <!-- Dropdown -->
              <div class="news-dropdown">
                <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown4">
                  <i class="fa fa-ellipsis-v "></i>
                </a>
                <ul id="dropdown4" class="dropdown-content">
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Option 1</a>
                  </li>
                </ul>

              </div>
            </div>
            <!-- News Blog Description -->
            <div class="news-description center-align">
              <div class="quote">
                <i class="fa fa-quote-left"></i>
              </div>
              <div class="news-title">
                <a href="javascript:void(0)">
                  Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna et bibendum leo metus vel magna.
                </a>
              </div>
              <div class="news-content">
                <p>President of ThemeLeague
                  <br>
                  Dark Waider</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col l6 col m12 col s12">
          <!-- News Blog Box -->
          <div class="news-blog white z-depth-1">
            <!-- News Blog Description -->
            <div class="news-description">
              <div class="news-time">
                33 min ago
              </div>
              <div class="news-title">
                <a href="javascript:void(0)">
                  Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus.</a>
              </div>
              <div class="news-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur erat velit, tristique eu molestie vitae, malesuada eget est. Vestibulum ut aliquam libero. Nunc nec risus dolor. Aliquam pellentesque eget lectus vel lobortis. Donec gravida nec tortor ac semper. Aliquam dapibus dolor et metus feugiat porta. Sed in mauris lorem. Quisque ultrices nulla dui. Praesent sollicitudin consectetur tincidunt.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In lobortis dignissim eros sed convallis. Donec et quam eros. Suspendisse a enim sit amet nisl accumsan malesuada. Maecenas sodales velit at molestie blandit. Nullam maximus tellus ante, vitae finibus lorem luctus vel. Quisque auctor nibh et lacus Aliquam dapibus dolor et metus feugiat porta. Sed in mauris lorem. Quisque ultrices nulla dui. Praesent sollicitudin consectetur tincidunt nibh et lacus Aliquam dapibus dolor et metus feugiat porta. Sed in mauris lorem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col l12 col m12 col s12">
          <div class="title">Cars</div>
        </div>
        <div class="col l3 col m6 col s12">
          <div class="col l12 col m12 col s12 no-padding">
            <!-- vertical News Box -->
            <div class="news vertical z-depth-1 margin-bottom-20">
              <!-- vertical News Image -->
              <div class="news-image">
                <img alt="news Image" class="responsive-img" src="./images/money13.jpg">
              </div>
              <!-- vertical News Description -->
              <div class="news-description">
                <div class="news-time">
                  <i class="fa fa-clock-o"></i>
                  9 min ago
                </div>
                <div class="news-title">
                  <a href="javascript:void(0)">
                    Nam erat nulla, auctor a eros vitae, hendrerit efficitur.
                  </a>
                </div>
                <div class="news-content">
                  <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. et bibendum leo metus vel magna. In dapibus ac tellus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col l12 col m12 col s12 no-padding">
            <!-- vertical News Box -->
            <div class="news vertical z-depth-1">
              <!-- vertical News Image -->
              <div class="news-image">
                <img alt="news Image" class="responsive-img" src="./images/life4.jpg">
              </div>
              <!-- vertical News Description -->
              <div class="news-description">
                <div class="news-time">
                  <i class="fa fa-clock-o"></i>
                  9 min ago
                </div>
                <div class="news-title">
                  <a href="javascript:void(0)">
                    Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna.
                  </a>
                </div>
                <div class="news-content">
                  <p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. et bibendum leo metus vel magna. In dapibus ac telluset bibendum leo metus vel magna.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l6 col m6 col s12">
          <!-- vertical News Box -->
          <div class="news vertical z-depth-1">
            <!-- vertical News Image -->
            <div class="news-image">
              <img alt="news Image" class="responsive-img" src="./images/big-news2.jpg">
            </div>
            <!-- vertical News Description -->
            <div class="news-description">
              <div class="news-time">
                <i class="fa fa-clock-o"></i>
                9 min ago
              </div>
              <div class="news-title large-font">
                <a href="javascript:void(0)">
                  Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna.
                </a>
              </div>
              <div class="news-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur erat velit, tristique eu molestie vitae, malesuada eget est. Vestibulum ut aliquam libero. Nunc nec risus dolor. Aliquam pellentesque eget lectus vel lobortis. Donec gravida nec tortor ac semper. Aliquam dapibus dolor et metus feugiat porta. Sed in mauris lorem. Quisque ultrices nulla dui. Praesent sollicitudin consectetur tincidunt.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In lobortis dignissim eros sed convallis. Donec et quam eros. Suspendisse a enim sit amet nisl accumsan malesuada. Maecenas sodales velit at molestie blandit. Nullam maximus tellus ante, vitae finibus lorem luctus vel. Quisque auctor nibh et lacus rhoncus, eu tincidunt massa volutpat. Pellentesque habita Aliquam erat volutpat. In viverra interdum metus, sed hendrerit ex cursus a. Morbi suscipit ligula vel leo facilisis finibus. ac semper. Aliquam dapibus dolor et metus feugiat porta. Sed in mauris lorem. Quisque ultrices nulla dui. Praesent sollicitudin consectetur tincidunt.
                </p>

              </div>
            </div>
          </div>
        </div>

        <div class="col l3 col m12 col s12">
          <!-- News Sidebar -->
          <div class="sidbar-box z-depth-1">
            <div class="sidebar-title">New Stories</div>
            <div class="news-sidebar">
              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news1.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news2.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news3.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news4.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news5.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news6.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news1.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news5.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>

              <div class="news-box">
                <!-- News Sidebar Image -->
                <div class="image">
                  <img alt="news Image" src="./images/hor-news3.jpg">
                </div>
                <!-- News Sidebar Detail -->
                <div class="news-detail">
                  <!-- News Sidebar Category -->
                  <div class="news-category">
                    <a href="javascript:void(0)">World | 21 min ago
                    </a>
                  </div>
                  <!-- News Sidebar Title -->
                  <div class="news-title">
                    <a href="javascript:void(0)">
                      5 things you need to know wenesday</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="hiddendiv common"></div>
  <div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>
  <div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>
  <script id="hiddenlpsubmitdiv" style="display: none;"></script>
  <script>
    try {
      (function() {
        for (var lastpass_iter = 0; lastpass_iter < document.forms.length; lastpass_iter++) {
          var lastpass_f = document.forms[lastpass_iter];
          if (typeof(lastpass_f.lpsubmitorig2) == "undefined") {
            lastpass_f.lpsubmitorig2 = lastpass_f.submit;
            if (typeof(lastpass_f.lpsubmitorig2) == 'object') {
              continue;
            }
            lastpass_f.submit = function() {
              var form = this;
              var customEvent = document.createEvent("Event");
              customEvent.initEvent("lpCustomEvent", true, true);
              var d = document.getElementById("hiddenlpsubmitdiv");
              if (d) {
                for (var i = 0; i < document.forms.length; i++) {
                  if (document.forms[i] == form) {
                    if (typeof(d.innerText) != 'undefined') {
                      d.innerText = i.toString();
                    } else {
                      d.textContent = i.toString();
                    }
                  }
                }
                d.dispatchEvent(customEvent);
              }
              form.lpsubmitorig2();
            }
          }
        }
      })()
    } catch (e) {}
  </script>
</div>
