<!-- Main Wrapper -->
<div class="wrapper grey-background">
  <div class="container">
    <div class="row">
      <div class="col l12 col m12 col s12 center-align">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
          <a href="/">Home</a>
          <i class="fa fa-angle-right"></i>
          Entrada
          <div class="page-title">
            Nueva entrada
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12">
        <div class="contact z-depth-1">
          <!-- Contact Image -->
          <div class="contact-detail">
            <div class="col l7 col m6 col s12">
              <div class="title">Nueva entrada</div>
              <p>

              </p>
              <p>Yeah, Accessories is Greate and this the fun part. we'd to talkabout your project or just chat about Accessories. So either fill out the form, pick up the phone.
              </p>
              <div class="address">
                <p>
                  <i class="fa fa-home"></i>
                  3340 King St. London W6 ORR, UK</p>
                <p>
                  <i class="fa fa-phone"></i>
                  Phone: +44 (0) 20 9493 89819</p>
                <p>
                  <i class="fa fa-fax"></i>
                  Fax: +44 (0) 20 9493 89810</p>
                <p>
                  <i class="fa fa-envelope"></i>
                  Email: hello@mass-theme.com</p>
              </div>
              <div class="social-icon">
                <a href="javascript:void(0);">
                  <i class="fa fa-behance"></i>
                </a>
                <a href="javascript:void(0);">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0);">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0);">
                  <i class="fa fa-pinterest"></i>
                </a>
                <a href="javascript:void(0);">
                  <i class="fa fa-instagram"></i>
                </a>
                <a href="javascript:void(0);">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>

            <div class="col l5 col m6 col s12">
              <form name="sentMessage" id="contactForm" method="post" action="/entrada/create">
                <div class="input-field">
                  <i class="mdi-action-perm-identity prefix"></i>
                  <input id="name" name="titulo" type="text" class="validate" required>
                  <label for="name">Titulo</label>
                </div>
                <div class="input-field">
                  <i class="mdi-communication-email prefix"></i>
                  <input name="otro" type="text" class="validate" required>
                  <label for="email">Otro</label>
                </div>
                <div class="input-field">
                  <textarea id="textarea1" name="cuerpo" class="materialize-textarea"></textarea>
                  <label for="textarea1">Cuerpo de texto</label>
                </div>
                <button class="btn btn-flat waves-effect waves-light shopping-cart-button right" type="submit" name="action">Publicar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
