<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

<div class="wrapper grey-background">
  <div class="container">
    <div class="row">
      <div class="col l12 col m12 col s12 center-align">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
          <a href="/">Home</a>
          <i class="fa fa-angle-right"></i>
          Entrada
          <div class="page-title">
            Nueva entrada
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12">
        <div class="contact z-depth-1">
          <div class="contact-detail">
            <div class="">
              <form name="sentMessage" id="contactForm" method="post" action="/entrada/create">
                <div class="input-field">
                  <i class="mdi-action-perm-identity prefix"></i>
                  <input name="titulo" type="text" class="validate" required>
                  <label for="name">Titulo</label>
                </div>
                <div class="input-field">
                  <i class="mdi-action-perm-identity prefix"></i>
                  <input name="resumen" type="text" class="validate" required>
                  <label for="resumen">Resumen</label>
                </div>
                <div class="input-field">
                  <i class="mdi-action-perm-identity prefix"></i>
                  <input name="fondo" type="text" class="validate" required>
                  <label for="fondo">URL de imagen de fondo, min 600x800px</label>
                </div>
                <div class="input-field">
                  <i class="mdi-communication-email prefix"></i>
                  <select name="categoria_entrada_ref">
                    <% try { %>
                      <% categorias.forEach(elem => { %>
                        <option value="<%=elem.id%>"><%=elem.nombre_categoria%></option>
                      <% }); %>
                    <% } catch (err) { %>
                    <option value="option">Error> No hay categorias<%=err%></option>
                  <% } %>
                </select>
              </div>
              <div class="input-field">
                <textarea name="cuerpo" id="editor1" rows="10" cols="80">
                  Escriba aqui su publicacion
                </textarea>
                <script>
                  CKEDITOR.replace('cuerpo');
                </script>
              </div>
              <br>
              <button class="btn btn-flat waves-effect waves-light shopping-cart-button right" type="submit" name="action">Publicar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
