<div class="wrapper grey-background">
  <div class="container">
    <div class="row">
      <div class="col l12 col m12 col s12 center-align">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
          <a href="#">Home</a>
          <i class="fa fa-angle-right"></i>
          Blog
          <i class="fa fa-angle-right"></i>
          profile
          <div class="page-title">
            Profile
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12">
        <img alt="Profile" src="/images/profile.jpg" class="responsive-img">
        <!-- Profile Image -->
        <div class="profile-image">
          <img alt="Profile" src="/images/client1.jpg" class="responsive-img">
        </div>

        <div class="right">
          <!-- Profile View ( Grid or List ) -->
          <div class="view-style">
            <a id="gridview">
              <i class="fa fa-th-large active"></i>
            </a>
            <a id="listview">
              <i class="fa fa-th-list"></i>
            </a>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="profil-content">
          <div class="col l3 col m4 col s12 no-padding">
            <!-- Profile Sidebar -->
            <div class="profile-sidebar z-depth-1">
              <!-- Profiler Name -->
              <div class="name"><%= usuario.nombres %></div>
              <!-- Profiler City -->
              <div class="city">
                <i class="fa fa-map-marker"></i>Vancouvar, CAN</div>
              <!-- Profile Detail -->
              <p>Sed malesuada nulla ac libero vestibulum egestas. Proin vitae purus elementum, luctus enim at, placerat elit. Sed luctus egestas enim in elementum</p>
              <!-- Following Button -->
              <button name="action" type="submit" class="btn btn-flat waves-effect waves-light shopping-cart-button">following</button>
              <!-- Message Button -->
              <button name="action" type="submit" class="btn btn-flat waves-effect waves-light shopping-cart-button right">Message</button>
              <!-- Sollower -->
              <div class="follower">
                <div class="col l6 col m6 col s6">Followers
                  <br>
                  <span>45</span>
                </div>
                <div class="col l6 col m6 col s6">Following
                  <br>
                  <span>47</span>
                </div>
              </div>
              <div class="bottom">
                <i class="fa fa-laptop"></i>
                <p>www.ThemeLeague.com</p>
                <!-- Social Icon -->
                <div class="social-icon">
                  <a href="javascript:void(0);">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="javascript:void(0);">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="javascript:void(0);">
                    <i class="fa fa-pinterest"></i>
                  </a>
                  <a href="javascript:void(0);">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="javascript:void(0);">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col l9 col m8 col s12">
            <div class="profile">
              <div class="border"></div>
              <!-- Profile Grid View -->
              <div id="grid-view">
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/small-news1.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">termit</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$198.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/profile2.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">arogami</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$98.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/small-news2.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">oscar</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$111.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/small-news3.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">termit</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$198.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/profile5.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">arogami</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$98.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/small-news4.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">oscar</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$111.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/small-news5.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">termit</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$198.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/small-news6.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">arogami</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$98.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
                <div class="col l4 col m6">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <!-- Profile Image -->
                    <img alt="Profile" src="images/small-news7.jpg" class="responsive-img">
                    <!-- Profile Detail -->
                    <div class="profile-detail">
                      <!-- Profile Name -->
                      <div class="profiler-name">
                        <a href="javascript:void(0);">oscar</a>
                      </div>
                      <!-- Profile Value -->
                      <div class="value">$111.00</div>
                      <!-- Profile By -->
                      <div class="profile-by">by Hezy</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Profile List View -->
              <div id="list-view" class="listview" style="display:none">
                <div class="col l12 col m12">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <div class="col l3">
                      <!-- Profile Image -->
                      <img alt="Profile" src="images/profile7.jpg" class="responsive-img">
                    </div>
                    <div class="col l9">
                      <!-- Profile Detail -->
                      <div class="profile-detail">
                        <p>Sed malesuada nulla ac libero vestibulum egestas, placerat elit. Sed luctus egestas enim in elementumSed malesuada nulla ac libero vestibulum egestas. Proin vitae purus elementum, luctus enim at, placerat elit. Sed luctus egestas enim in elementumSed malesuada nulla
                        </p>
                        <!-- Profile Value -->
                        <div class="value">$198.00</div>
                        <!-- Profile Name -->
                        <div class="profiler-name">
                          <a href="javascript:void(0);">termit</a>
                        </div>
                        <!-- Profile By -->
                        <div class="profile-by">by Hezy</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col l12 col m12">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <div class="col l3">
                      <!-- Profile Image -->
                      <img alt="Profile" src="images/profile8.jpg" class="responsive-img">
                    </div>
                    <div class="col l9">
                      <!-- Profile Detail -->
                      <div class="profile-detail">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a arcu enim. Vestibulum euismod orci nec ligula dapibus tristique. Aliquam erat volutpat. Ut eleifend mollis ipsum, id elementum mauris interdum.
                        </p>
                        <!-- Profile Value -->
                        <div class="value">$98.00</div>
                        <!-- Profile Name -->
                        <div class="profiler-name">
                          <a href="javascript:void(0);">Arogami</a>
                        </div>
                        <!-- Profile By -->
                        <div class="profile-by">by Hezy</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col l12 col m12">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <div class="col l3">
                      <!-- Profile Image -->
                      <img alt="Profile" src="images/profile1.jpg" class="responsive-img">
                    </div>
                    <div class="col l9">
                      <!-- Profile Detail -->
                      <div class="profile-detail">
                        <p>Curabitur velit diam, venenatis in maximus et, sagittis sit amet risus. Proin vel tortor dui. Mauris consectetur vitae purus eu sodales. Vestibulum pretium tincidunt nisi, at posuere arcu lobortis id.</p>
                        <!-- Profile Value -->
                        <div class="value">$111.00</div>
                        <!-- Profile Name -->
                        <div class="profiler-name">
                          <a href="javascript:void(0);">Oscar</a>
                        </div>
                        <!-- Profile By -->
                        <div class="profile-by">by Hezy</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col l12 col m12">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <div class="col l3">
                      <!-- Profile Image -->
                      <img alt="Profile" src="images/profile5.jpg" class="responsive-img">
                    </div>
                    <div class="col l9">
                      <!-- Profile Detail -->
                      <div class="profile-detail">
                        <p>Maecenas tincidunt vehicula sapien vel interdum. Aliquam condimentum urna non porttitor fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla in aliquet libero, Maecenas tincidunt vehicula sapien vel interdum.
                        </p>
                        <!-- Profile Value -->
                        <div class="value">$198.00</div>
                        <!-- Profile Name -->
                        <div class="profiler-name">
                          <a href="javascript:void(0);">termit</a>
                        </div>
                        <!-- Profile By -->
                        <div class="profile-by">by Hezy</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col l12 col m12">
                  <!-- Profile Box -->
                  <div class="profile-box z-depth-1">
                    <div class="col l3">
                      <!-- Profile Image -->
                      <img alt="Profile" src="images/profile3.jpg" class="responsive-img">
                    </div>
                    <div class="col l9">
                      <!-- Profile Detail -->
                      <div class="profile-detail">
                        <p>Sed malesuada nulla ac libero vestibulum egestas. Proin vitae purus elementum, luctus enim at, placerat elit. Sed luctus egestas enim in elementumSed malesuada nulla ac libero vestibulum egestas. Proin vitae purus elementum.</p>
                        <!-- Profile Value -->
                        <div class="value">$111.00</div>
                        <!-- Profile Name -->
                        <div class="profiler-name">
                          <a href="javascript:void(0);">Oscar</a>
                        </div>
                        <!-- Profile By -->
                        <div class="profile-by">by Hezy</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
