<!-- Main Wrapper -->
<div class="wrapper grey-background">
  <div class="container">
    <div class="row">
      <div class="col l12 col m12 col s12 center-align">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
          <a href="#">Home</a>
          <i class="fa fa-angle-right"></i>
          Login
          <div class="page-title">
            <%= __('Registrarme') %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12 col m12 col s12">
        <div class="login-page z-depth-1">
          <div class="col l4 col m6 col s12 offset-l4 offset-m3">
            <% if (flash && flash.err) { %>
              <p>
                <ul class="collection">
                  <% Object.keys(flash.err).forEach(function (error) { %>
                    <li class="collection-item">
                      <%= JSON.stringify(flash.err[error]) %>
                    </li>
                  <% }) %>
                </ul>
              </p>
            <% } %>
            <form action="/usuario/create" method="post">
              <div class="login-title"></div>

              <!-- Informacion personal -->
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input id="email" type="email" name="email" class="validate" required>
                <label for="email">Email</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="nombres" class="validate" required>
                <label for="nombres">Nombres</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="apellidos" class="validate">
                <label for="apellidos">Apellidos</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="nick" class="validate" required>
                <label for="nick">Nick</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="date" name="fecha_nacimiento" class="validate">
                <label for="date">Fecha de nacimiento</label>
              </div>

              <!-- Multimedia -->
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="portada" class="validate">
                <label for="nick">URL de foto de portada</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="foto" class="validate">
                <label for="foto">URL de foto de perfil</label>
              </div>

              <!-- Redes sociales

              <div class="input-field" title="Direccion de la cuenta de facebook, ej> ingresar solamente las XXXXX de https://www.facebook.com/XXXXX">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="facebook" class="validate">
                <label for="facebook">Facebook</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="googleplus" class="validate">
                <label for="googleplus">Google plus</label>
              </div>
              <div class="input-field" title="@su">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="twitter" class="validate">
                <label for="twitter">Twitter</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input type="text" name="youtube" class="validate">
                <label for="youtube">Youtube</label>
              </div>
-->
              <!-- Seguridad -->
              <div class="input-field">
                <i class="mdi-action-lock-open prefix"></i>
                <input name="contrasenia" type="password" class="validate" required>
                <label for="name">Contraseña</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-lock-open prefix"></i>
                <input name="contrasenia_confirmacion" type="password" class="validate" required>
                <label for="name">Confirme su contraseña</label>
              </div>

              <!-- Biografia -->
              <br>
              <div class="input-field">
                <textarea name="biografia" rows="8" cols="50" title="Escribe algo sobre ti."></textarea>
                <label for="biografia">Biografia</label>
              </div>

              <button name="action" type="submit" class="btn btn-flat waves-effect waves-light shopping-cart-button right">Registrarme</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
