<!-- Main Wrapper -->
<div class="wrapper grey-background">
  <div class="container">
    <div class="row">
      <div class="col l12 col m12 col s12 center-align">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
          <a href="#">Home</a>
          <i class="fa fa-angle-right"></i>
          Login
          <div class="page-title">
            Sign in
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12 col m12 col s12">
        <div class="login-page z-depth-1">
          <div class="col l4 col m6 col s12 offset-l4 offset-m3">
            <% if (flash && flash.err) { %>
              <p>
                <ul class="collection">
                  <% Object.keys(flash.err).forEach(function (error) { %>
                    <li class="collection-item">
                      <%= JSON.stringify(flash.err[error]) %>
                    </li>
                  <% }) %>
                </ul>
              </p>
            <% } %>
            <div class="login-title">Bienvenido, inicia sesion de forma segura en Blogla.</div>
            <form action="/usuario/login" method="post">
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Login</label>
              </div>
              <div class="input-field">
                <i class="mdi-action-lock-open prefix"></i>
                <input id="name" name="contrasenia" type="password" class="validate">
                <label for="name">Contraseña</label>
              </div>
              <div class="forgot-password left">
                <a href="javascript:void(0);">Forgot your Password?</a>
                <br>
                <a href="/usuario/register">No estas registrado?</a>
              </div>
              <button name="action" type="submit" class="btn btn-flat waves-effect waves-light shopping-cart-button right" onclick="Materialize.toast('<span>Login Successful</span><a class=&quot;btn-flat yellow-text&quot; href=&quot;#!&quot;><a>', 5000)">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
